$main-color: #f39306;
$delete-color: #eb5625;
$bg-color: #f0f0f0;
$inactive-color: #a5a5a5;
$secondary-color: #35a6e7;
$border-color: #b6b6b6;
$text-base-color: #585858;
$text-back-color: #efeded;
$text-font: "Noto Sans JP", sans-serif;
