// scssファイルをimport
@import "reset";
@import "button";
@import "variables";
@import "header";
@import "tab";
@import "devise";
@import "form";
@import "profile";
@import "display";
@import "card";
@import "band_recruitment";
@import "flash";

body {
  background-color: $bg-color;
  font-family: $text-font;
  color: $text-base-color;
}

.container {
  padding: 15px 20px;
  width: 100%;
}

.error-message-container {
  padding: 0 0 0 20px;
  margin: 0 0 15px 0;
}

.error-message {
  list-style: none;
}

.flash {
  position: absolute;
  top: 15px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 12px;
  background-color: #fff;
  padding: 8px 18px;
}

.icon {
  border-radius: 50%;
  width: 55px;
  height: 55px;
}
