@import "variables";

.recruitment-container {
  display: grid;
  gap: 15px;
  padding: 15px 20px 100px;
}

.recruitment-section {
  margin-top: 40px;

  & + & {
    margin-top: 60px;
  }
}

.recruitment-group {
  margin-top: 15px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
