@import "variables";

.devise-h2 {
  background-color: $main-color;
  color: #fff;
  text-align: center;
  font-size: 18px;
  padding: 7px;
}

.devise-container {
  background-color: #fff;
  padding: 15px 15px 30px;
  text-align: center;
  margin-bottom: 10px;
}

.field {
  padding: 8px;
  text-align: left;
}

.text {
  font-size: 16px;

  &-mini {
    font-size: 12px;
    text-decoration: none;
    color: $text-base-color;
  }
}

.text-input {
  width: 100%;
}

input {
  border: none;
  border: 1px solid $border-color;
}

.devise-btn {
  font-size: 18px;
  color: #fff;
  border: none;
  text-decoration: none;
  background-color: $main-color;
  padding: 5px 15px;
  margin: 20px 0 0;
  display: inline-block;
  cursor: pointer;

  &.login {
    margin: 0;
  }
}

.devise-error-message {
  font-size: 12px;
  list-style: none;
}
