@import "variables";

.display-title {
  position: relative;
  border-bottom: 1px solid $border-color;
  font-size: 17px;
}

.display-group {
  margin-top: 15px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.display-group-recruitment {
  margin-top: 15px;
  display: grid;
  grid-template-columns: 120px 1fr;
}

.display-group-title {
  font-size: 15px;
  white-space: nowrap;
  padding-top: 3px;
}

.display-group-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  align-items: center;
  gap: 5px;
  margin: 0;
  padding: 0;
}

.display-group-content {
  color: $main-color;
  font-size: 13px;
  border: 1px solid $main-color;
  border-radius: 4px;
  padding: 3px 6px 1px;
  margin: 0;
  list-style: none;
  display: inline-block;
  width: fit-content;
}

.display-text {
  font-size: 14px;
  margin-top: 10px;
}

.display-edit-btn {
  text-align: center;
  margin: 50px 0 30px;
}
