@import "variables";

.form-title {
  background-color: $main-color;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  padding: 6px;
}

.form-container {
  background-color: #fff;
  padding: 20px;
}

.form-group {
  margin-bottom: 20px;
}

.file {
  border: none;
}

.required {
  color: red;
}

.text-field {
  width: 100%;
  border: none;
  border: 1px solid $border-color;
}

.select-field,
.date-field {
  color: $text-base-color;
  font-size: 14px;
  text-align: center;
  border: none;
  border: 1px solid $border-color;
  width: 150px;
  height: 28px;
  padding: 1px 8px;
  appearance: none;
}

.select-container {
  position: relative;

  &::before,
  &::after {
    content: "";
    position: absolute;
    background-color: #b6b6b6;
    width: 8px;
    height: 2px;
  }

  &::before {
    top: 14px;
    left: 128px;
    transform: rotate(45deg);
  }

  &::after {
    top: 14px;
    left: 133px;
    transform: rotate(-45deg);
  }
}

.select-span {
  display: inline-block;
  padding: 0 2px;
}

.check-boxes-container {
  margin-top: 3px;
}

.check-box-group {
  font-size: 14px;
}

checkbox {
  border: none;
  border: 1px solid $border-color;
}

.text-mini {
  font-size: 12px;
  text-decoration: none;
  color: $text-base-color;
}

.btn-container {
  margin-top: 20px;
  text-align: center;
}
