@import "variables";

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid #fff;
  color: #fff;
  padding: 15px 20px;
  font-weight: bold;

  .header-logo {
    color: $main-color;
    font-size: 25px;
  }

  .header-login-btn {
    color: #fff;
    font-size: 16px;
    text-decoration: none;
    background-color: $main-color;
    padding: 8px 18px;
  }
}
