@import "variables";

.header {
  position: sticky;
  top: 0;
  background-color: $bg-color;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #fff;
  padding: 15px 20px;
  font-weight: bold;
  z-index: 10;
  height: 86px;
}

.header-logos {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 5px;
}

.header-logo {
  display: block;
  color: $main-color;
  font-size: 25px;
  text-decoration: none;
}

.header-back {
  width: 15px;
  height: 15px;
}

.header-dropdown {
  position: relative;

  &:hover .dropdown-content {
    display: block;
  }
}

.header-login-btn {
  color: #fff;
  font-size: 16px;
  text-decoration: none;
  background-color: $main-color;
  padding: 8px 18px;
}

.dropdown-content {
  display: none;
  position: absolute;
  top: 60px;
  left: -36px;
  z-index: 20;
  background-color: #fff;
  padding: 6px 10px;
  white-space: nowrap;

  // hoverの範囲を広げる
  &::after {
    content: "";
    position: absolute;
    top: -5px;
    right: 0;
    width: 91px;
    height: 5px;
  }
}

.dropdown-link {
  display: block;
  text-decoration: none;
  color: $text-base-color;
  font-size: 12px;
  text-align: right;

  & + & {
    padding-top: 5px;
  }
}
