.magnifying-glass-icon {
  position: absolute;
  width: 15px;
  height: 15px;
  display: block;
  margin: 0;
  top: 30px;
  right: -11px;
}

.check-icon {
  width: 8px;
  height: 8px;
  display: inline-block;
  margin-right: -2px;
}
